artifacts/generated_data/**/*.csv
artifacts/generated_data/*.csv
artifacts/models/*
artifacts/outputs/**/*.csv
artifacts/outputs/**/*.log
artifacts/outputs/**/*.txt
artifacts/outputs/**/*.png
artifacts/outputs/*.log
artifacts/outputs/*.txt
artifacts/outputs/*.png
artifacts/sinergym_runs/*
!artifacts/sinergym_runs/README.md
artifacts/smoke_tests/*
data/weather/**/*
!data/weather/**/
!data/weather/**/README.md
__pycache__/
.ipynb_checkpoints/
